body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: #F9F9F9;
	position: absolute;
  left: 0px;
  top: 0px;
  z-index: 	-1;
}
h1{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	opacity: .7;
	margin: 40px auto;
	padding-left: 20px;
	max-width: 1200px;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #BFBFBF;
  height: 1px;
}

/********************************************************************************************* MAIN *******/

#main{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	padding: 0 40px;
	justify-content: space-between;
	margin: auto;

}
.employee{
	display: flex;
	border: 2px solid #DADFE1;
	border-radius: 8px;
	padding: 6px;
	align-items: center;
	margin: 0 5px 25px 5px;
	flex-basis: 31%;
	max-width: 365px;
	background-color: white;
}
.profile-pic{
	border-radius: 100%;
	margin: 15px;
	height: 100px;
	width: 100px;
}
.info h3,
.info p{
	margin: 8px 0;
	padding-right: 10px;
}
.info h3{
	font-weight: 700;
	font-size: 22px;
	color: #515254;
	text-transform: capitalize;
}
.info p{
	color: #888;
	font-size: 14px;
	max-width: 100%;
	font-weight: normal;
}
.info .city{
	text-transform: capitalize;
}

/********************************************************************************************* MODAL *******/

#modal{
	background-color: rgba(0,0,0,0.4);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
  left: 0px;
  top: 0px;
  z-index: 	3;
  display: none;
}
.modal-container{
	background-color: white;
	display: flex;
	flex-direction: column;
	border: 2px solid #DADFE1;
	border-radius: 8px;
	padding: 20px;
	align-items: center;
	max-width: 	300px;	
}
#left-arrow,
#right-arrow{
	color: #EEE;
	background-color: rgba(20,20,20,0.7);
	padding: 0 20px;
	line-height: 1em;
	margin: 0;
	border-radius: 100%;
	font-family: 'Varela Round', sans-serif;
	font-size: 100px;
	font-weight: bold;
	cursor: pointer;
}
#close-modal{
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	margin: 0 0 0 85%;
	color: black;
	cursor: pointer;
}
.modal-container .profile-pic{
	width: 175px;
	height: 175px;
}
.modal-container h3,
.modal-container p{
	margin: 10px 0;
}
.modal-container .name{
	color: #515254;
}
.modal-container p{
	color: #888;
}