body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F9F9F9;
}
h1{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 3px;
	opacity: .7;
	margin: 40px auto;
	padding-left: 20px;
	max-width: 1200px;
}
#main{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	padding: 0 40px;
	justify-content: space-between;
	margin: auto;

}
.employee{
	display: flex;
	border: 2px solid #DADFE1;
	border-radius: 8px;
	padding: 6px;
	align-items: center;
	margin: 0 5px 25px 5px;
	flex-basis: 31%;
	max-width: 380px;
	background-color: white;
}
.profile-pic{
	border-radius: 100%;
	margin: 15px;
	height: 100px;
	width: 100px;
}
.info h3,
.info p{
	margin: 8px 0;
	padding-right: 10px;
}
.info h3{
	font-weight: 700;
	font-size: 22px;
	color: #515254;
}
.info p{
	color: #BFBFBF;
	font-size: 14px;
	max-width: 100%;
	font-weight: normal;
}
.info .city{
	text-transform: capitalize;
}